body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #e99a62, #7e3120, #a62b19, #37220f);
  color: #fff;
  background-repeat: no-repeat; /* Tekrarlama engelleme */
  background-attachment: fixed; /* Arka planın sabit kalmasını sağlar */
}


header {
  margin: 30px 0;
  text-align: center;
}

.logo {
  max-width: 100px;
  height: 100px;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  background-color: rgba(157, 0, 255, 0.448) 0, 0, 0.275;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card img { 
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card:hover img {
  filter: blur(5px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay:hover {
  opacity: 1;
}

.overlay p {
  font-size: 1.0em;
  margin-bottom: 10px;
}

.overlay button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 8px 15px;
  font-size: 1em;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.overlay button:hover {
  background-color: #ffffff;
  color: #000;
}



/* Project View */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  max-width: 600px;
  background-color: #fefefe;
  position: relative;
  border-radius: 8px;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
  color: #555;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.close:hover {
  color: #333;
}

/* Project View Ending */



/* Video Player */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 20px;
  max-width: 600px;
  background-color: #fefefe;
  position: relative;
  border-radius: 8px;
  transform: scale(0);
  transition: transform 0.3s ease-out;
}

.close {
  position: absolute;
  top: 0px;
  right: 2px;
  font-size: 2em;
  cursor: pointer;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.close:hover {
  color: #333;
}